// --- Colors ---

$light: #ffffff;
$dark: #000000;
$primary: #2b8eff;
$secondary: #ffcb56;
$accent: #2d334a;

// --- Spacing, Radius ---

$xs: 0.5rem;
$s: 1rem;
$m: 1.5rem;
$l: 2rem;
$xl: 3rem;
$xxl: 4rem;

// --- Line-weight ---

$borderWeight: 1px;

// --- Font size ---

$fontSmall: 0.95rem;
$fontMedium: 1.15rem;
$fontLarge: 1.75rem;

// --- Font Families ---

$fontHeading: 'Sora', serif;
$fontText: 'Lexend', sans-serif;

// --- Transition ---

$transitionBasic: all 0.3s ease-in-out;

// --- Heights ---

$navbarHeight: 6.25rem;

// --- Breakpoints ---

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
