@use 'reset';
@use '../variables' as vars;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: vars.$fontText;

  // animation: fadeIn 1s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: vars.$fontHeading;
  color: vars.$primary;
}

p,
a,
i {
  color: vars.$accent;
}
